

body {
    font-family: 'Tektur', sans-serif;
    font-size: 18px;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    width: 600px;
    border: 10px solid pink;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: rgb(255, 220, 225);

}

.choices {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    /*margin-left: 10vw;
    margin-right: 10vw;*/
}
.card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 20px 20px;
    border: 7px solid pink;
    border-radius: 25px;
    background-color: rgb(255, 220, 225);
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.text {
    margin: 10px 0;
    font-size: 20px;
}



input.choice {
    width: 120px;
    height: auto;
    transition: .3s ease;
}

input.choice:hover{
    opacity: 55%;
    transform: scale(1.1);
}

.avatar {
    width: 120px;
    height: auto;
    padding: 10px;
    background-color: pink;
   
}

.game {
    font-size: 36px;
    text-align: center;
}