

body {
    font-family: 'Tektur', sans-serif;
    font-size: 18px;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    visibility: visible;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    width: 600px;
    border: 10px solid pink;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: rgb(255, 220, 225);
}

.container.hidden {
    visibility: hidden;
}

.choices {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 20px 20px;
    border: 7px solid pink;
    border-radius: 25px;
    background-color: rgb(255, 220, 225);
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text {
    margin: 10px 0;
    font-size: 20px;
    color: rgb(49, 45, 40);
}

input.choice {
    width: 120px;
    height: auto;
    transition: .3s ease;
}

input.choice:hover{
    opacity: 55%;
    transform: scale(1.1);
}

.avatar {
    width: 120px;
    height: auto;
    padding: 10px;
    background-color: pink;
}

.game {
    font-size: 36px;
    text-align: center;
}

.overlay {
    background-color: pink;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.overlay.visible {
    visibility: visible;
}

.overlay-card {
    width: auto;
    background-color: rgb(255, 220, 225);
    display: flex;
    justify-content: center;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 25px;
}

h1 {
    margin: 0;
    border: 5px solid pink;
    border-radius: 15px;
    padding: 10px;
}

h1, h2 {
    color: rgb(49, 45, 40);
}

button.start-button {
    cursor: pointer;
    width: 100%;
    font-family: 'Tektur';
    font-size: 24px;
    font-weight: bold;
    background-color: pink;
    border: 5px solid pink;
    border-radius: 15px;
    padding: 5px;
    color: rgb(49, 45, 40);
}

button.start-button:hover {
 background-color: rgb(255, 220, 225);
}